cloud_sql_proxy
public/assets
.git
.idea
log/*.log
config/*.json
.cron_env
.google_service_account.json
.gcs_admin_service_account.json
config/master.key
/config/credentials.yml.enc
public/packs
.babelrc
.postcssrc.yml
tmp/cache/*