<h1>Register a New Project</h1>

<%= render 'form', project: @project %>

<p><%= link_to "<i class='fas fa-fw fa-chevron-left'></i> Back".html_safe, projects_path, class: 'btn btn-sm btn-warning' %></p>
