<h1>New Reference Analysis</h1>

<%= render 'form', reference_analysis: @reference_analysis %>

<p>
  <%= link_to "<i class='fas fa-fw fa-chevron-left'></i> Back".html_safe, reference_analyses_path, class: 'btn btn-sm btn-warning' %>
</p>
