<h1>Unity Benchmarking Service</h1>
<p class="lead">Welcome to the Unity Benchmarking Service.  So far, we can authenticate.  That's about it.</p>

<% if user_signed_in? %>

  <p>Welcome <%= current_user.full_name %></p>

<% end %>