<h1>Unity Benchmarking Service Privacy Policy</h1>

<p class="lead">The following discloses our information gathering and dissemination practices for the Unity Benchmarking Service website (<%= link_to site_url, site_url %>)</p>

<h3>Information gathering</h3>

<p>The Unity Benchmarking Service receives and stores information related to user's Google profiles, including
  email addresses, user IDs, and OAuth tokens. This information is gathered as part of the standard Google sign-in process.</p>

<h3>Use of information</h3>

<p>The Unity Benchmarking Service uses the information gathered above to enable integration with Google-based services that require
  a Google account, such as <%= link_to 'FireCloud', 'https://portal.firecloud.org' %> and Google Cloud Storage Platform.
  We may also use this information to provide you with the services on the platform and to communicate with you (e.g.,
  about new feature announcements, unplanned site maintenance, and general notices). If you’d like to opt-out of receiving
  communications from our team, you can choose to do so through your profile settings. At no time do we disclose any user
  information to outside sources. Web server logs are retained on a temporary basis and then deleted completely from our
  systems. User information is stored in a password-protected database, and OAuth tokens are  only stored for the length
  of an active session, is encrypted at rest (using 256-bit AES encryption), and is deleted upon sign out.</p>

<h3>Publicly Uploaded Information</h3>

<p>Some features of the Unity Benchmarking Service are public facing and allow you to upload information (such as new pipelines) that
  you may choose to make publicly available. If you choose to upload content is public-facing, third parties may access and
  use it. We do not sell any information that you provide to the Unity Benchmarking Service; it is yours. However, any information
  that you make publicly available may be accessed and used by third parties, such as research organizations or commercial
  third parties.</p>

<h3>Security</h3>

<p>This site has security measures in place to protect the loss, misuse and alteration of the information under our control.
  The Unity Benchmarking Service, however, is not liable for the loss, misuse or alteration of information on this
  site by any third party.</p>

<h3>Changes</h3>

<p>Although most changes are likely to be minor, we may change our Privacy Policy from time to time. We will provide
  notification to you of material changes to this Privacy Policy through the Unity Benchmarking Service website at least 30 days
  prior to the change taking effect by posting a notice on our home page or by sending an email to the email address
  specified in your user account. For changes to this Privacy Policy that do not affect your rights, we encourage you to
  check this page frequently.</p>

<h3>Contacting the Unity Benchmarking Service</h3>

<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this site,
  you can contact us through <%= link_to 'our help wiki', 'https://github.com/HumanCellAtlas/unity/wiki' %>.
</p>