<h1>New Admin Configuration</h1>

<%= render 'form', admin_configuration: @admin_configuration %>

<p><%= link_to "<i class='fas fa-fw fa-chevron-left'></i> Back".html_safe, admin_configurations_path, class: 'btn btn-sm btn-warning' %></p>
