// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

#main-body {
  padding-bottom: 75px;
  overflow-x: hidden;
}

#wrap {
  min-height: 100%;
}

.top-pad-60 {
  padding-top: 60px;
}

.unity-navbar {
  font-size: large;
}

.unity-footer {
  background-color: #efefef;
  padding-top: 25px;
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 75px;
  clear:both;
  width: 100%;
}

#main-jumbo {
  margin-top: 10px;
}

.top-pad-small {
  padding-top: 15px;
}

.actions {
  white-space: nowrap;
}

.bottom-margin-10 {
  margin-bottom: 10px;
}

.top-margin-10 {
  margin-top: 10px;
}

.top-margin-5 {
  margin-top: 5px;
}

#spinner_target, .spinner-target {
  min-height: 200px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

/* bs-callout classes */

.bs-callout {
  margin:20px 0;
  padding:20px 15px 15px 20px;
  border-left:3px solid #eee
}

.bs-callout p:last-child {
  margin-bottom:0;
}

.bs-callout code {
  background-color:#fff;
  border-radius:3px
}

.bs-callout h4 {
  font-weight: bold;
  margin-top:0;
  margin-bottom:5px
}

.bs-callout ul {
  padding-left: 20px;
  color: inherit;
}

.bs-callout-danger {
  background-color:#fdf7f7;
  border-left: 5px solid #d9534f;
  color: #d9534f
}

.bs-callout-danger ul {
  color: #d9534f;
}

.bs-callout-warning {
  background-color:#fcf8f2;
  border-left: 5px solid #f0ad4e;
  color: #f0ad4e
}

.bs-callout-warning ul {
  color: #f0ad4e;
}

.bs-callout-info {
  background-color:#f4f8fa;
  border-left: 5px solid #5bc0de;
  color: #5bc0de
}

.bs-callout-info ul {
  color: #5bc0de;
}

.bs-callout-default {
  background-color: #f0f0f0;
  border-left: 5px solid #777;
  color: #777
}

.bs-callout-default ul {
  color: #777;
}

.bs-callout-primary {
  background-color: lighten(#428bca, 40%);
  border-left: 5px solid #428bca;
  color: #428bca
}

.bs-callout-primary ul {
  color: #428bca;
}

.bs-callout-success {
  background-color: lighten(#5cb85c, 40%);
  border-left: 5px solid #5cb85c;
  color: #5cb85c
}

.bs-callout-success ul {
  color: #5cb85c;
}

.submission-output-tooltip-inner {
  min-width: 100% !important;
  max-width: 100% !important;
}