// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

#main-body {
  padding-bottom: 75px;
  overflow-x: hidden;
}

#wrap {
  min-height: 100%;
}

.top-pad {
  padding-top: 60px;
}

.unity-navbar {
  font-size: large;
}

.unity-footer {
  background-color: #efefef;
  padding-top: 25px;
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 75px;
  clear:both;
  width: 100%;
}

#main-jumbo {
  margin-top: 10px;
}

.top-pad-small {
  padding-top: 15px;
}