<footer class="footer">
  <div class="container-fluid">
    <p class="text-muted text-center">&copy; <%= Date.today.year %> <%= link_to 'Broad Institute of MIT & Harvard', 'https://broadinstitute.org' %></p>
  </div>
</footer>