<div class="modal fade" id="generic-modal" tabindex="-1" role="dialog" aria-labelledby="generic-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="generic-modal-title"></h5>
      </div>
      <div class="modal-body">
        <div class="spinner-target text-center" id="generic-modal-spinner"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>